{{define "header-content"}}
<div class="row mb-2">
  <div class="col-sm-6">
    <h1 class="m-0">User Upload Avatar</h1>
  </div>
  <div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active">User Avatar</li>
    </ol>
  </div>
</div>
{{end}} {{define "content"}}
<div class="row">
  <div class="col-12">
    <div class="card card-primary card-outline">
      <div class="card-body">
        <form
          action="/users/avatar/{{.ID}}"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="form-group">
            <input type="file" name="avatar" required class="form-control" />
          </div>
          <div>
            <button type="submit" class="btn btn-success">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{end}}
